CT_EXPERIMENTAL=y
CT_ALLOW_BUILD_AS_ROOT=y
CT_ALLOW_BUILD_AS_ROOT_SURE=y
CT_PREFIX_DIR="/opt/gcc-rpi"
CT_STRIP_TARGET_TOOLCHAIN_EXECUTABLES=y
CT_ARCH_arm=y
CT_ARCH_CPU="cortex-a53"
CT_ARCH_FPU="neon-fp-armv8"
CT_STATIC_TOOLCHAIN=y
CT_TOOLCHAIN_PKGVERSION="rpi"
CT_KERNEL_linux=y
# CT_SHARED_LIBS is not set
CT_LIBC_musl=y
CT_DEBUG_gdb=y
CT_COMP_TOOLS_FOR_HOST=y
CT_COMP_TOOLS_make=y
